openapi: 3.0.3

servers:
  - url: "https://api.youversion.com/"
    description: Production API Gateway
  - url: "https://api-dev.youversion.com/"
    description: Development API Gateway
  - url: "http://127.0.0.1:8000/"
    description: Local dev server

info:
  description: >-
    Apigee API proxy service for existing API calls.
  version: "v1"
  title: Transformers
  contact:
    name: Platform Team

paths:
  /v1/bibles:
    get:
      summary: Get a collection of Bibles based on given parameters.
      description: Get a collection of Bibles based on given parameters.
      operationId: bibles.collection_get
      parameters:
        - $ref: "#/components/parameters/basic_language_ranges"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bibles"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "204":
          description: No data associated with given parameters
        "400":
          description: Invalid query string parameters
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}:
    get:
      summary: Get a Bible resource by its id.
      description: Get a Bible resource by its id.
      operationId: bibles.resource_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bible"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/passages/{usfm_references}:
    get:
      summary: API to return passages of Scripture
      description: This returns the requested usfm references in the YVDOM format.
      operationId: bibles_passages.resource_get
      parameters:
        - $ref: ./parameters/version_id.yaml
        - $ref: ./parameters/usfm_references.yaml
        - $ref: ./parameters/include_notes.yaml
        - $ref: ./parameters/include_headings.yaml
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/passage"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            Content-Language:
              $ref: "#/components/headers/Content-Language"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "400":
          description: Invalid parameter
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books:
    get:
      summary: Get a collection of Books for the given Bible
      description: Get a collection of Books for the given Bible
      operationId: bibles_books.collection_get
      parameters:
        - $ref: "#/components/parameters/canon"
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/books"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "204":
          description: No data associated with given parameters
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books/{book_id}:
    get:
      summary: Get Bible text for a version by its USFM identifiers.
      description: Get Bible text for a version by its USFM identifiers.
      operationId: bibles_books.resource_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/book_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/book"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books/{book_id}/chapters:
    get:
      summary: Get a collection of Chapters for the given Bible and Book
      description: Get a collection of Chapters for the given Bible and Book
      operationId: bibles_books_chapters.collection_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/book_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chapters"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "204":
          description: No data associated with given parameters
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books/{book_id}/chapters/{chapter_id}:
    get:
      summary: Get Chapter resource for a version by its USFM identifiers.
      description: Get Chapter resource for a version by its USFM identifiers.
      operationId: bibles_books_chapters.resource_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/book_id"
        - $ref: "#/components/parameters/chapter_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chapter"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books/{book_id}/chapters/{chapter_id}/verses:
    get:
      summary: Get a collection of Verses by the USFM identifiers.
      description: Get a collection of Verses by the USFM identifiers.
      operationId: bibles_books_chapters_verses.collection_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/book_id"
        - $ref: "#/components/parameters/chapter_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verses"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "204":
          description: No data associated with given parameters
        "400":
          description: Invalid query string parameters
        "406":
          description: Invalid Accept header

  /v1/bibles/{version_id}/books/{book_id}/chapters/{chapter_id}/verses/{verse_id}:
    get:
      summary: Get a Verse resource for a version by its USFM identifiers.
      description: Get a Verse resource for a version by its USFM identifiers.
      operationId: bibles_books_chapters_verses.resource_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/book_id"
        - $ref: "#/components/parameters/chapter_id"
        - $ref: "#/components/parameters/verse_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verse"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            ETag:
              $ref: "#/components/headers/ETag"
            Vary:
              $ref: "#/components/headers/Vary"
        "400":
          description: Invalid query string parameters
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header

  /v1/highlights:
    get:
      summary: Get a collection of a highlights for a user.
      description: Get a collection of highlights for a user.
      operationId: v1.highlights.collection_get
      parameters:
        - $ref: "#/components/parameters/version_id"
        - $ref: "#/components/parameters/passage_id"
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/highlights"
          headers:
            Cache-Control:
              $ref: "#/components/headers/Cache-Control"
            Vary:
              $ref: "#/components/headers/Vary"
        "204":
          description: No data associated with given parameters
        "400":
          description: Invalid query string parameters
        "406":
          description: Invalid Accept header
    post:
      summary: Create a new highlight.
      description: Create a new highlight.
      operationId: v1.highlights.collection_post
      parameters:
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/highlight"
      responses:
        "201":
          description: Highlight created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/highlight"
        "400":
          description: Invalid request body
        "406":
          description: Invalid Accept header
    put:
      summary: Update an existing highlight.
      description: Update an existing highlight.
      operationId: v1.highlights.resource_put
      parameters:
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/highlight"
      responses:
        "200":
          description: Highlight updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/highlight"
        "400":
          description: Invalid request body
        "404":
          description: Resource not found
        "406":
          description: Invalid Accept header
    delete:
      summary: Delete a highlight.
      description: Delete a highlight.
      operationId: v1.highlights.resource_delete
      parameters:
        - $ref: "#/components/parameters/x_app_id"
        - $ref: "#/components/parameters/x_yvp_installation_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/highlight"
      responses:
        "204":
          description: Highlight deleted successfully
        "404":
          description: Resource not found

components:
  headers:
    Cache-Control:
      $ref: ./headers/cache_control.yaml
    Content-Language:
      $ref: ./headers/content_language.yaml
    Content-Type:
      $ref: ./headers/content_type.yaml
    ETag:
      $ref: ./headers/etag.yaml
    Last-Modified:
      $ref: ./headers/last_modified.yaml
    Vary:
      $ref: ./headers/vary.yaml

  parameters:
    basic_language_ranges:
      $ref: ./parameters/basic_language_ranges.yaml
    book_id:
      $ref: ./parameters/book_id.yaml
    canon:
      $ref: ./parameters/canon.yaml
    chapter_id:
      $ref: ./parameters/chapter_id.yaml
    include_headings:
      $ref: ./parameters/include_headings.yaml
    include_notes:
      $ref: ./parameters/include_notes.yaml
    passage_id:
      $ref: ./parameters/passage_id.yaml
    user_id:
      $ref: ./parameters/user_id.yaml
    usfm_references:
      $ref: ./parameters/usfm_references.yaml
    verse_id:
      $ref: ./parameters/verse_id.yaml
    version_id:
      $ref: ./parameters/version_id.yaml
    x_app_id:
      $ref: ./parameters/x_app_id.yaml
    x_yvp_installation_id:
      $ref: ./parameters/x_yvp_installation_id.yaml

  schemas:
    bible:
      $ref: ./schemas/bible.yaml
    bibles:
      $ref: ./schemas/bibles.yaml
    book:
      $ref: ./schemas/book.yaml
    books:
      $ref: ./schemas/books.yaml
    chapter:
      $ref: ./schemas/chapter.yaml
    chapters:
      $ref: ./schemas/chapters.yaml
    highlight:
      $ref: ./schemas/highlight.yaml
    highlights:
      $ref: ./schemas/highlights.yaml
    passage:
      $ref: ./schemas/passage.yaml
    verse:
      $ref: ./schemas/verse.yaml
    verses:
      $ref: ./schemas/verses.yaml
